* {
	margin: 0px;
	padding: 0px;
}

#bootstrap-overides body {
	font-family: 'Roboto', sans-serif;

}

/** Navbar start **/

.navbar-header .navbar-brand {
	letter-spacing: 0.5em;
}





#ws-nav {
	border-bottom: solid 0.25px #ffffff;
	background-color: #000000;
}

/** Navbar End **/

/** Header start **/

header {
	background-size: cover;
	background-image: url(img/mountains.jpeg);
	position: relative;
	width: 100%;
	background-position: center;
	text-align: center;
	display: inline-block;
	height: 50vh;

}

.header-content {
	

	}




.header-content-inner {
	width: 100%;
	position: absolute;
	text-align: center;
	color: #ffffff;
	margin: 0 auto;
	left: 0;
	right: 0;
	transform: translateY(50%);
	bottom: 40%;
		
}
	
	
	

#header-head {
	
	font-size: 60px;
	font-weight: 200;
	display: inline-block;
	
}

.header-p {

}

#bootstrap-overides .btn {
	background-color: #9acd32;
	border: none;
	padding: 10px 20px;
	border-radius: 22px;
	margin: 4px 2px;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}
/** Header end **/


/** Apple start **/

.apple-container {
	background-color: #9acd32;
}

.apple-content {
	padding-top: 7%;
	padding-bottom: 7%;
	color: #ffffff;
}
	

.heading-with-description {
	max-width: 40rem;
	margin: auto;
}
	


.apple-header {
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}

/** Apple end **/


/** Microphone start **/

.microphone-content {
	padding-top: 15%;
	padding-bottom: 15%;
}

.microphone {
	border-radius: 50%;
}

#classify-btn {
	color: #ffffff;
}


/** Microphone end **/


/** Superior quality start **/
#superior-wrap {
	background-color: #222222;
}

.container-overflow {
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}

.sq-bg-color {
	background-color: #222222;
	margin-left: 0px;
	margin-right: 0px;
}

.superior-content {
	padding-top: 15%;
	padding-bottom: 15%;

}

.phone {
	border-radius: 50%;
}

.sq-header {
	color: #ffffff;
}

#bootstrap-overides #test-btn {
	background-color: #ffffff;
}
/** superior quality end **/




/** Picture grid starts **/

#bootstrap-overides .picture-grid-container {
	padding-left: 0px;
	padding-right: 0px;
}

.img-container {
	position: relative;
	display: inline-block;
}

.img-container .pic-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.caption {
	color: #ffffff;
	font-size: 40px;
	font-weight: 300;

}

.grid-img {
	opacity: 0.8;
	width: 100%;
	height: auto;
}
/** Picture grid starts **/





/** Sanity check starts **/
 .sanity-content {
 	padding: 5%;
 }

 #tack {
 	color: #9acd32;
 }

#sanity-btn {
	color: #ffffff;
}
/** Sanity check end **/





/** Contact starts **/
.contact-container {
	background-color: #9acd32;
	
}

.contact-content {
	line-height: 2.5;
	padding-top: 7%;
	padding-bottom: 7%;
	color: #ffffff;
}



/** Contact end **/



/** Footer start **/

.copyright {
	padding-top: 4%;
	padding-bottom: 2%;
	font-weight: 300;
}

/** Footer end **/




/** Media queries start **/

@media only screen and (min-width: 768px) {
	
	/** Header start **/

	#bootstrap-overides header {
		height: 100vh;
	}


	.header-head {
		
		font-size: 100px;
		font-weight: 200;
		display: inline-block;
		letter-spacing: 0.25em;
		
	}

	.header-content-inner {
		bottom: 50%;
	}

	/** Header End **/


	/** Apple start **/

	 .apple-content {
		padding-left: 22%;
		padding-right: 22%;
	}

	/** Apple end **/

}




/** Media queries end **/


